header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 18vw;
    @media screen and (max-width: 600px) {
      width: 38vw;
    }
  }
  nav{
    @media screen and (max-width: 600px) {
     padding: 20px;
    }
  }
}
