div.hud {
  &#top {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 10.8vw);
    height: 5.4vw;
    background-color: #70707055;
    margin: 0 5.4vw;
    @media screen and (max-width: 600px) {
      height: 10.4vw;
    }
  }
  &#right {
    position: fixed;
    top: 0;
    right: 0px;
    width: 5.4vw;
    height: 100%;
    background-color: #70707055;
  }
  &#bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 10.8vw);
    height: 5.4vw;
    margin: 0 5.4vw;
    background-color: #70707055;
  }
  &#left {
    position: fixed;
    top: 0;
    left: 0;
    width: 5.4vw;
    height: 100%;
    background-color: #70707055;
  }
}

div.content {
  width: 100%;
  height: 100%;
}
