#main {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  padding: 5.4vw;
}

.wrapper {
  width: 100%;
  padding: 0 5.4vw;
}

.label {
  position: absolute;
  top: 46%;
  left: -3.3vw;
  display: inline-block;
  font-size: 2vw;
  transform: rotate(-90deg);
  color: #ffffff;
  z-index: 9;
  text-transform: uppercase;
  width: 12vw;
}
