.modal_galery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 4;
  position: absolute;
  width: 45vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  .media {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .caption {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    .#close_gallery {
      position: absolute;
      right: 0;
      top: 0;
      color: white;
      font-size: 22px;
      cursor: pointer;
      padding: 20px 10px;
    }
    .btn {
      display: none;
      width: 57px;
      height: 43px;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: normal;
      text-align: center;
      color: #f9ea19;
      text-transform: uppercase;
      cursor: pointer;
    }
    .box {
      display: block;
      width: 100%;
      .item {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .product {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .info {
            .subtitle {
              font-family: Montserrat;
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.19;
              letter-spacing: normal;
              text-align: left;
              color: #f5f5f5;
            }
            .title {
              font-family: Montserrat;
              font-size: 25px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.2;
              letter-spacing: normal;
              text-align: left;
              color: #f9ea19;
            }
          }
          .cta {
            width: 7vw;
            padding: 10px 20px;
            background: #f9ea19;
            text-align: center;
            a {
              text-align: center;
              text-transform: uppercase;
              color: black;
              span {
                font-weight: bold;
              }
            }
          }
        }
        .contact {
          width: 75%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          .title {
            display: block;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #f5f5f5;
          }
          .tel {
            display: block;
            font-family: Montserrat;
            font-size: 22px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            color: #f5f5f5;
          }
          .mail {
            display: block;
            font-family: Montserrat;
            font-size: 22px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            color: #f5f5f5;
          }
        }
      }
    }
  }
}
