section#About
  .label Sobre
  .container
    .content
      .presentation
        .side
          img(src="images/sobre_webdoor.png", alt="")
          .footer
            button
              span Conheça nossos produtos
