section#About
  .label Sobre
  .container
    .content
      .presentation
        .side
          img(src="images/sobre_webdoor.png", alt="")
          .catalog_footer
            p Clique e baixe nosso catálogo
            button
              span Conheça nossos produtos
