section#contact
  .label Contato
  .container
    .content
      .bg_contact
      .form_contact
        h2 Fale conosco
        form(action="")
          .item.full
            span Nome Sobrenome
            input(type="text" placeholder="Insira seu Nome Sobrenome")
          .item
            span E-mail
            input(type="text")
          .item
            span Celular
            input(type="text")
          .item
            span Assunto
            select(name="Assunto")
              option(value="Selecione")
          .item.full
            span Mensagem
            textarea(name="")
          .submit
            button(type="submit") Enviar
