.corporate
    .container
        .box
            .item
                h2.title FRASE IMPACTANTE
                p.text Unindo a excelência dos melhores fornecedores internacionais do mercado de revestimento com a expertise de quem atua há 23 anos no mercado, a Recovering conta com uma seleção premium de produtos e uma orientação precisa para você cobrir o seu espaço de qualidade.
                p.text Revista a sua casa de excelência com o nosso catálogo, onde você pode encontrar opções de alta qualidade com aplicação rápida e obras mais limpas. Opções para parede, pisos, tetos, ambientes comerciais, domiciliares; as possibilidades são infinitas e a certeza é uma: uma obra perfeita pede produtos da Recovering
            .item
                img(src="../images/pisos-vinilicos.png", alt="")
            .item
                img(src="../images/pisos-grandes-formatos.png", alt="")
            .item
                img(src="../images/pisos-laminados.png", alt="")
