section#Foryou
  .label Para você
  .container
    .content
      .foryou_menu
        ul
          li.active(data-id="1") Todos
          li(data-id="2") Laminados
          li Vinílicos
          li Grandes Formatos
        footer
          p divulge seus trabalhos
          p
            small Envie seu projeto
              i ➜
      .foryou_content
        .track.active(data-id="1")
          article
            h1 Lorem Ipsum Dolor Sit Amet
            .description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
              .read_more veja mais
          article.article_b
            .text
              h1 Lorem Ipsum Dolor Sit Amet
              .description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                .read_more veja mais
            figure
              img(src="images/article_b.png", alt="")
          article.article_c
            .text
              h1 Lorem Ipsum Dolor Sit Amet
              .description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                .read_more veja mais
            figure
              img(src="images/article_b.png", alt="")
          article.article_d
            figure
              img(src="images/article_b.png", alt="")
          article
            h1 Lorem Ipsum Dolor Sit Amet
            .description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
              .read_more veja mais
          article.article_b
            .text
              h1 Lorem Ipsum Dolor Sit Amet
              .description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                .read_more veja mais
            figure
              img(src="images/article_b.png", alt="")
          article.article_c
            .text
              h1 Lorem Ipsum Dolor Sit Amet
              .description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                .read_more veja mais
            figure
              img(src="images/article_b.png", alt="")
          article.article_d
            figure
              img(src="images/article_b.png", alt="")
