section#Gallery
  .label Galeria
  .container
    .content
      .gallery_menu
        ul
          li Todos
          li Todos
          li Todos
          li Todos
        footer
          p divulge seus trabalhos
          p
            small divulge seus trabalhos
      .gallery_content
        .track
          - for (var i = 0; i < 10; ++i) {
            figure
              img(src="images/gallery_kronotex.png", alt="")
          - }
