section#Gallery
  .label Galeria
  .container
    .content
      .gallery_menu
        ul
          li.active(data-id="1") Todos
          li(data-id="2") Laminados
          li Vinílicos
          li Grandes Formatos
        footer
          p divulge seus trabalhos
          p
            small.send_project Envie seu projeto
              i ➜
      .gallery_content
        .track.active(data-id="1")
          - for (var i = 0; i < 10; ++i) {
            figure
              img(src="images/article_b.png", alt="")
          - }
        .track(data-id="2")
          - for (var i = 0; i < 10; ++i) {
            figure
              img(src="images/gallery_kronotex.png", alt="")
          - }
