section#Gallery
  .label Galeria
  .container
    .content
      .gallery_menu
        ul
          li.active Todos
          li Laminados
          li Vinílicos
          li Grandes Formatos
        footer
          p divulge seus trabalhos
          p
            small Envie seu projeto
              i ➜
      .gallery_content
        .track
          - for (var i = 0; i < 10; ++i) {
            figure
              img(src="images/gallery_kronotex.png", alt="")
          - }
