.mask
  .modal_galeria_open
    .media
        img(src="", alt="")
    .caption
        span.btn Info
        .box
            .item
                .product
                    .info
                        span.subtitle Designer
                        h3.title Nome Sobrenome
                    .info
                        span.subtitle Designer
                        h3.title Nome Sobrenome
                    .cta
                        a(href="") Quero este piso
                .contact
                    span.title CONTATO
                    span.tel 00 9999.9999
                    span.mail mail@mail.com.br