.mask(data-id="modal-catalog")
  .modal_alert
    .news
      h2 RECEBA O CATALOGO EM SEU EMAIL
      .form_news
        form(action="")
          span.title_news Insira seu e-mail
          input(type="text" placeholder="Insira aqui")
          .accept
            input(type="checkbox")
            span.text_news Sim, eu aceito receber os conteúdos da Recovering e compreendo que posso me descadastrar a qualquer momento.
          .submit
            button(type="submit") enviar
    .success_message
      .message
        p Recebemos seu contato e em breve você receberá em seu email o catálogo.
        p Entre em contato com nosso atendimento pelo Whatsapp clicando no icone.
      .whatsapp
        img(src="../../images/wpp_icon.png", alt="")
        .contact
          h2 21 9999.9999
          span contato@recovering.com.br
