.modal_product(data-id=0)
  .hud
    .buttons
      span.product_close_action ×
      span.product_back_action <
      span.product_next_action >
    .title
      h2.title_rotate Alo
  .description
    .brand
      img(src="../../images/krono.png", alt="")
    .description_text
      p Grandes A Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.
    .product_cta
      button
        img(src="images/download_icon.png", alt="")
        span Download Catálogo
    .texture
      h2.texture_title DÊ Excelência Aos seus projetos
      p.download_texture <a href="#">Clique aqui</a>, faça download das texturas aplique as em seus projetos.
  .media
    .slider_product
      img(src="../../images/product_internal.png", alt="")
      img(src="../../images/product_internal.png", alt="")
      img(src="../../images/product_internal.png", alt="")
.modal_product(data-id=1)
  .hud
    .buttons
      span.product_close_action ×
      span.product_back_action <
      span.product_next_action >
    .title
      h2.title_rotate
  .description
    .brand
      img(src="../../images/krono.png", alt="")
    .description_text
      p B Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.
    .product_cta
      a(href="#") DOWNLOAD CATALOGO
    .texture
      h2.texture_title DÊ Excelência Aos seus projetos
      p.download_texture <a href="#">Clique aqui</a>, faça download das texturas aplique as em seus projetos.
  .media
    .slider_product
      .item
        img(src="../../images/product_internal.png", alt="")
      .item
        img(src="../../images/product_internal.png", alt="")
      .item
        img(src="../../images/product_internal.png", alt="")
