.mask(data-id="modal-gallery")
  .modal_galery
    .media
        img(src="../images/galery.png", alt="")
    .caption
        span.btn Info
        #close_gallery x
        .box
            .item
                .product
                    .info
                        span.subtitle Designer
                        h3.title Nome Sobrenome
                    .info
                        span.subtitle Designer
                        h3.title Nome Sobrenome
                    .cta
                        a(href="") <span>Quero</span> este piso
                .contact
                    span.title CONTATO
                    span.tel 00 9999.9999
                    span.mail mail@mail.com.br
