.mask(data-id="modal-alert")
  .modal_alert
    .add_galery
      h2 A Excelência em projetar.
      span.subtittle A Recovering tem o prazer de divulgar projetos e trabalhos que combinam a qualidade e a excelência de cada ambiente.  Preencha os dados e marque sua presença em nossa galeria.
      .form
        form(action="")
          .line_big
            span Nome Sobrenome*
            input(type="text" placeholder="Insira seu Nome Sobrenome")
          .line_small
            span Função
            select(name="function")
              option(value="" disabled selected) - Selecione -
          .line_big
            span E-mail*
            input(type="text" placeholder="Insira seu e-mail")
          .line_small
            span Celular
            input(type="text" placeholder="00 0000-0000")
          .line_big
            span Linha
            select(name="line")
              option(value="" disabled selected) - Selecione -
          .line_small
            span Marca
            select(name="brand")
              option(value="" disabled selected) - Selecione -
          .item
            span Produto
            select(name="product")
              option(value="" disabled selected) - Selecione -
          .line_big
            span Selecionar arquivo
            input.file_select(type="text" placeholder="Clique aqui")
            input.file_field(type="file")
          .line_small
            .submit
              button Enviar
          .item.terms_box
            input(type="checkbox")
            span.text_accept Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
