section#Products
  .label Produtos
  .container
    .content
      .presentation
        .side
          p No catálogo da Recovering Revestimentos, você irá encontrar opções de pisos Vinílicos, Laminados e de Grandes Formatos. Todos os nossos produtos são de fornecedores internacionais, entregando a mais alta tecnologia, com garantia de 30 anos e 100% saudáveis.
          p Encontre o que você precisa para revestir a sua casa de charme e proporcionar uma melhor qualidade de vida. Perfeito para ambientes residenciais e comerciais de alto tráfego. Sua escolha lhe dará a certeza de um revestimento perfeito para que sua casa não seja só um lugar, mas um sentimento.
          p Você pode baixar o catálogo completo ou específico de um modelo de seu interesse. Clique aqui e veja como a excelência pode combinar com o seu espaço.

          .catalog_footer
            p Clique e baixe nosso catálogo
            button
              img(src="images/download_icon.png", alt="")
              span Download Catálogo
        .side.floors
          img.pisos-btn(src="images/pisos-grandes-formatos.png", alt="", data-id="grandes")
          img.pisos-btn(src="images/pisos-laminados.png", alt="", data-id="laminados")
          img.pisos-btn(src="images/pisos-vinilicos.png", alt="", data-id="vinilicos")
    .items-box(data-id="grandes")
      include modal_product_grandes.pug
    .items-box(data-id="laminados")
      include modal_product_laminados.pug
    .items-box(data-id="vinilicos")
      include modal_product_vinilicos.pug
