section#Products
  .label Produtos
  .container
    .content
      .presentation
        .side
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          p Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          p Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet.
          .catalog_footer
            p Clique e baixe nosso catálogo
            button
              img(src="images/download_icon.png", alt="")
              span Download Catálogo
        .side
          img(src="images/pisos-laminados.png", alt="")
          img(src="images/pisos-vinilicos.png", alt="")
          img(src="images/pisos-grandes-formatos.png", alt="")
    .items-box
      include modal_product.pug
