section#Products
  .label Produtos
  .container
    .content
      .presentation
        .side
          p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          p Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          p Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est ipsum dolor sit amet.
          .catalog_footer
            p Clique e baixe nosso catálogo
            button
              img(src="images/download_icon.png", alt="")
              span Download Catálogo
        .side.floors
          img.pisos-btn(src="images/pisos-grandes-formatos.png", alt="", data-id="grandes")
          img.pisos-btn(src="images/pisos-laminados.png", alt="", data-id="laminados")
          img.pisos-btn(src="images/pisos-vinilicos.png", alt="", data-id="vinilicos")
    .items-box(data-id="grandes")
      include modal_product_grandes.pug
    .items-box(data-id="laminados")
      include modal_product_laminados.pug
    .items-box(data-id="vinilicos")
      include modal_product_vinilicos.pug
