.social_links
  a(href="#")
    img(src="images/whatsapp_icon.png", alt="")
  a(href="#")
    img(src="images/instagram_icon.png", alt="")
  a(href="#")
    img(src="images/facebook_icon.png", alt="")
  a(href="#")
    img(src="images/contact_icon.png", alt="")

.mouse_indicator
