<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    script(src="js/main.js")
    title Document
  body
    div#main
      div.content
        include pages/home.pug
        include pages/products.pug
        include pages/about.pug
        include pages/gallery.pug
        include pages/foryou.pug
      div.hud#left
      div.hud#right
      div.hud#bottom
        include footer.pug
      div.hud#top
        header
            img.logo(src="images/logo.png", alt="")
            nav(role="navigation")
              include menu.pug
    //- include pages/modal_product.pug
    //- include pages/modal_alert.pug
    //- include pages/modal_mask.pug
