#menuToggle
  input(type='checkbox' id='checkBoxInput')
  span
  span

  ul#menu
    img(src="images/logo_menu.png", alt="", class="logo-menu")
    a(href="#Home")
      li Home
    a(href="#Products")
      li Produtos
    a
    li Info
    a
      li Contact

